﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mapid">
    <div class="btn-group iconBtn2" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-light subIconBtn" onclick="carroute()">
            <i class="fas fa-car"></i>
            <br />
            <span id="carTime" class="iconTime"></span>
        </button>
        <button type="button" class="btn btn-light subIconBtn" onclick="cyclingroute()">
            <i class="fas fa-biking"></i>
            <br />
            <span id="cyclingTime" class="iconTime"></span>
        </button>
        <button type="button" class="btn btn-light subIconBtn" onclick="footroute()">
            <i class="fas fa-hiking"></i>
            <br />
            <span id="footTime" class="iconTime"></span>
        </button>
    </div>
    <div class="courses-container1">
        <div class="course">
            <div class="course-preview">
                <h2><i id="icon-to-change" class="fas fa-road fa-2x"></i></h2>	
            </div>
            <div class="course-info">		
                <h6>Durée</h6>
                <h2 id="duree"></h2>
            </div>
            <hr>
            <div class="course-info">		
                <h6>Distance</h6>
                <h2 id="distance"></h2>
            </div>
        </div>
    </div>

</div>
